<nav>
  <div id="nav_links">
    <a href="/urls">Home</a>
    <a href="/urls/new">New</a>
  </div>

  <div id="nav_title">TinyApp</div>

  <div id="nav_login">

    <% if (!user_id) { %>

      <div id="nav_logged_in">
        <a href="/login">Sign In</a>
        <a href="/register">Register</a>
      </div>

    <% } else { %>

      <div id="nav_logged_out">

         <form action="/logout" method="POST" id="logout_form">
          <input type="submit" value="Logout">

        </form>
      </div>

   <% } %>

  </div>

</nav>

