<!DOCTYPE html>
<nav>
  <div id="nav_links">
    <a href="/urls">Home</a>
    <a href="/urls/new">New</a>
  </div>

  <div id="nav_title">TinyApp</div>

  <% if (!username) { %>
  <div id="nav_user_login">
    <form action="/login" method="POST" id="login_form">
      <input type="text" name="username" placeholder="username" required>
      <button type="submit"><i class="fas fa-sign-in-alt fa-2x"></i></button>
    </form>
  </div>
  <% } else { %>
  <div id="nav_user_logout">
    <form action="/logout" method="POST" id="logout_form">
      <!-- <input type="text" name="username" placeholder="username" required> -->
      Hello <%= username %>!
      <!-- not sure if name="logout" is required in button below -->
      <button type="submit"><i class="fas fa-sign-out-alt fa-2x"></i></button>
    </form>
  </div>
  <% } %>

</nav>

