<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <!-- Add your EJS code here -->
  <header>
    <% include partials/_header %>
  </header>

  <h1>TinyApp URL Shortener</h1>

  <table id="show_table">
    <tr>
      <td><%= shortURL %></td>
      <td><%= longURL %></td>
    </tr>
  </table>

  <form action="/urls/<%= shortURL %>" method="POST" id="show_form">
    <label for="longURL">Change URL:</label>
    <!-- Consider using url for type instead of text -->
    <input id="longURL" type="text" name="longURL" value="http://" required>
    <input type="submit" value="Update">
  </form>

</body>
</html>