<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<header>
  <% include partials/_header %>
</header>
<body>
    <!-- Add your EJS code here -->
    <h1>TinyApp URL Shortener</h1>
      <table id="index_table">
        <tr id="tablehead">
          <td>Short URL</td>
          <td>Long URL</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <% for (let key in urls) { %>
          <tr>
            <td><%= key %></td>
            <td><%= urls[key] %></td>
            <td><a href="/urls/<%= key %>"><button><i class="far fa-edit fa-2x"></i></button></a></td>
            <td><form method="POST" action="/urls/<%= key %>/delete"><button type="submit"><i class="far fa-trash-alt fa-2x"></i></button></form></td>
          </tr>
        <% } %>
      </table>
</body>
</html>