<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<!-- <body style="font-size:20px; padding:50px;"> -->
  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>TinyApp URL Shortener</h1>

    <form action="/urls" method="POST" id="new_form">
      <label for="longURL">Enter a URL:</label>
      <!-- Consider using url for type instead of text -->
      <input id="longURL" type="url" name="longURL" value="http://" required>
      <input type="submit" value="Shorten">
    </form>

  </body>
  </html>