<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>

  <header>
    <% include partials/_header %>
  </header>

  <h1 class="form_heading">User Registration</h1>

  <form action="/register" method="POST" id="reg_form">
    <!-- <label for="email">Email: </label> -->
    <input type="email" class="lr_textbox" name="email" placeholder="Email">
    <br>
    <!-- <label for="email">Password: </label> -->
    <input type="password" class="lr_textbox" name="password" placeholder="Password" required>
    <br>
    <input type="submit" class="lr_button" value="Register">
  </form>

</body>
</html>