<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
  <% include partials/_style %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>
<header>
  <% include partials/_header %>
</header>
<body>
    <!-- Add your EJS code here -->
    <h1>TinyApp URL Shortener</h1>
      <table>
        <tr id="tablehead">
          <td>Short URL</td>
          <td>Long URL</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <% for (let key in urls) { %>
          <tr>
            <td><%= key %></td>
            <td><%= urls[key] %></td>
            <td><form method="POST" action="/urls/<%= key %>/delete"><button type="submit"><i class="fas fa-trash-alt fa-2x"></i></button></form></td>
          </tr>
        <% } %>
      </table>
</body>
</html>