<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<header>
  <% include partials/_header %>
</header>
<body>
  <!-- Add your EJS code here -->

  <% if (!user_id) { %>

    <h1>Please login to view URLs</h1>

  <% } else { %>
  <h1>TinyApp URL Shortener</h1>
    <table id="index_table">
      <tr id="tablehead">
        <th class="th_left">Short URL</th>
        <th>Long URL</th>
        <th>Edit</th>
        <th class="th_right">Delete</th>
      </tr>
      <% for (let key in urls) { %>
        <% if (urls[key].userID === user_id) { %>
        <tr>
          <td><%= key %></td>
          <td><%= urls[key].longURL %></td>
          <td class="table_button"><a href="/urls/<%= key %>"><button><i class="far fa-edit fa-2x"></i></button></a></td>
          <td class="table_button"><form method="POST" action="/urls/<%= key %>/delete?_method=DELETE"><button type="submit"><i class="far fa-trash-alt fa-2x"></i></button></form></td>
        </tr>
        <% } %>
      <% } %>
    <% } %>
  </table>
</body>
</html>