@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  /*background-color: #00A5CF;*/
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: lightgrey;
  /*background-color: #3587A4;*/
}

nav a {
  text-decoration: none;
  padding: 0 15px;
  margin: 0 15px;
}

nav a:hover {
  background-color: grey;
}

#nav_links {
  display: block;
  margin-left: 15px;
}

#nav_title {
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

#nav_logged_in, #nav_logged_out {
  display: block;
  margin-right: 15px;
  width: 270px;
}

#nav_logged_out {
  text-align: right;
}

#nav_logged_out input {
  margin-right: 25px;
}

h1 {
  text-align: center;
  font-size: 25px;
}

table {
  margin: 0 auto;
}

#index_table {
  width: 80%;
  border: 1px solid black;
}

#show_table {
  width: 40%;
}

#tablehead {
  font-weight: bold;
  border-bottom: 1px solid black; /*this doesnt work*/
}

td {
  padding: 5px 20px;
}

/*dont need this any more?*/
#del_but {
  font-family: FontAwesome;
}

.form_heading {
  margin-top: 150px;
}

#new_form {
  width: 500px;
  margin: 25px auto;
}

#show_form {
 width: 550px;
 margin: 100px auto;
}

#new_longURL {
  width: 400px
}

input {
  font-size: 20px;
}

#reg_form, #login_form {
  max-width: 400px;
  margin: 0 auto;
}

#reg_form input, #login_form input {
  margin: 5px 0;
  padding: 5px;
}

.lr_textbox {
  width: 100%;
  width: calc(100% - 13px);
}

.lr_button {
  width: 100%;
}